<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous"
    />
    <p>
      &copy; Copyright 2022 : CSCI 3308 - Lab 9 Web Services
    </p>
  </footer>
</body>
</html>