<header>  
    <% if(typeof username === 'undefined') { %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">TrashRoyale</a>
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
            <img src="/images/LogoTry2.png" alt="Italian Trulli" class="mx-auto" style="height: 50px">
            <div>
                <ul style="float: right;" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link enabled" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enabled" href="/register">Register</a>
                </li>
                </ul>
            </div>
        </nav>
    <% } else { console.log(username) %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">TrashRoyale</a>
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
            <img src="/images/LogoTry2.png" alt="Italian Trulli" class="mx-auto" style="height: 50px">
            <div>
                <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/account">Account</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>
    <% } %>
</header>
