h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
    font-family: "Open Sans";
    margin: 0px;
}

/* a,
a:hover,
a:focus {
    color: inherit;
} */

.leaderboardCard {
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url('https://i.imgur.com/m72NFZ7.png');
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-size: cover;
}

.profile-card-6 {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: default;
    display: inline-flex;
}

.profile-card-6 img {
    transition: all 0.15s linear;
    width: 100%;
    
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
    width: calc(33.333% - 1rem);
    left: 35%;
    top: 10%;
    position: absolute;
}

.profileCard {
    max-width: 45%;
    position: absolute;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2);
    left: 0;
    cursor: default;
}

.card-title {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: rgb(240, 240, 240);
}

.card-body {
    border: 3px solid;
    width: fit-content;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuTcRdpZFjUWuook0RdQkFeMps-bng0MbUSA&usqp=CAU');
    background-repeat: no-repeat; 
    background-size: cover;

}

.stat-body {
    border: 1px solid;
    border-radius: 2px;
    background-image: url('https://i.imgur.com/m72NFZ7.png');
    border-color:aliceblue;
}
.battlelog-game-type {
    font-weight: bolder;
}
.battlelog-deck {
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 30px;
    background:rgba(255, 255, 255, 0.1);
}

.battlelog {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    width: 54%;
    height: 88vh;
    left: 45%;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
    overflow: auto;
    margin: 10px auto;
    cursor: default;
    background-image: url('https://i.imgur.com/m72NFZ7.png');
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 39px;
}

.random-deck {
    padding: 0px;
    border: 5px solid;
}

.random-deck-image {
    float: left;
    width:  130px;
    height: 180px;
    object-fit: cover;
}

.random-deck-card-button {
    padding: 0;
    border: none;
    background: none;
}

.random-deck-card {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
    overflow: auto;
    margin: 10px auto;
    cursor: pointer;
    background-image: url('https://i.imgur.com/m72NFZ7.png');
    background-size: cover;
    background-size: 750px;
    padding: 10px;
    padding-top: 15px;
}

.random-row {
    padding-right: 35px;
    padding-top: 35px;
}

.random-deck-stats {
    color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
    overflow: auto;
    margin: 10px auto;
    cursor: default;
    background-image: url('https://i.imgur.com/m72NFZ7.png');
    background-size: cover;
    background-size: 750px;
    padding: 20px;
    padding-top: 15px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding-right: 30px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
/* .row{
    width: 100% !important;
    margin: none !important;
    display: inline-flex;
} */