<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <!-- this creates a card with a table with all of the user information -->
    <div class="container" style="padding-top: 40px;">
        <div class="row justify-content-center">
            <div class="card bg-secondary text-white" style="max-width: 500px;">
                <div class="row g-100">
                    <div class="card-body">
                        <table class="highlight">
                            <tr>
                                <th>USERID:</th>
                                <td>12678</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>nijo4798@colorado.edu</td>
                            </tr>
                            <tr>
                                <th>USERNAME:</th>
                                <td>NikoJ</td>
                            </tr>
                            <tr>
                                <th>ClashTag:</th>
                                <td>XAST7J33</td>
                            </tr>
                            <tr>
                                <th>Current Streak:</th>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>Max Streak:</th>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>Daily Challenges Completed:</th>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th>Random Challenges Completed:</th>
                            <td>2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</main>

<%- include ('../partials/footer') %>

    <!-- git checkout main -->
    <!-- git pull -->


