<!-- Cards.ejs File -->
<!-- Purpose: Act as a visualizer of attributes and associated cards -->
<!--
    TODO:
    - Actually display attributes
    - Make page less bad looking
-->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>

<div class="container-fluid">
    <h1>Attributes</h1>
</div>

</main>

<!-- Include footer partials -->
<%- include ('../partials/footer') %>