<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/login" method="POST">
        <!-- New Code -->
        <section class="" style="background-size: cover;
        background-image: url(https://help.supercellsupport.com/uploads/_2048x1176_crop_center-center_90_none/CC-carousel.jpg?mtime=20201110135451&amp;focal=none&amp;tmtime=20210323104412);">
          <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center h-10">
              <div class="col col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                  <div class="p-4 p-lg-5 text-black">
                    <form>
                      <div class="mb-3">
                        <span class="h1 fw-bold">Trash Royale</span>
                      </div>
    
                      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
    
                      <div class="form-outline mb-4">
                        <input name="username" type="username" id="form2Example17" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example17">Username</label>
                      </div>
    
                      <div class="form-outline mb-4">
                        <input type="password" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Password</label>
                      </div>
    
                      <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                      </div>

                      <p class="pt-5" style="color: #393f81;">Don't have an account? <a href="#!"
                          style="color: #393f81;">Register here</a></p>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>