<!-- Include header and menu partials -->
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container-fluid">

    <!-- Message div -->
    <div class="col"><%- include ('../partials/message') %></div>
    
    <!-- Form control to create a new random challenge. This will make a post request to random -->
    <p>New Random Page</p>

  </div>
</main>

<!-- Include footer partials -->
<%- include ('../partials/footer') %>