<!-- Include header and menu partials -->
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container-fluid">
    
  </div>
</main>

<!-- Include footer partials -->
<%- include ('../partials/footer') %>