<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/register" method="POST">
      <!-- New Code -->
        <div class="container py-5">
          <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col col-xl-5">
              <div class="card" style="border-radius: 1rem;">
                <div class="p-4 p-lg-5 text-black">
                  <form>
                    <div class="mb-3">
                      <span class="h1 fw-bold">Trash Royale</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register a new account</h5>
  
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                      <input name="username" type="username" id="form2Example1" class="form-control" />
                      <label class="form-label" for="form2Example1">Username</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input name="email" type="email" id="form2Example2" class="form-control" />
                      <label class="form-label" for="form2Example2">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                    <input name="password" type="password" id="form2Example3" class="form-control" />
                    <label class="form-label" for="form2Example3">Password</label>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>